doctype html
html
	head
		meta(charset='utf-8')
		title My Wonderful Site
		meta(content='The best site to ever grace a screen.' name='description')
		meta(content='Yours Truly' name='author')
		meta(content='' width='device-width' initial-scale='1' maximum-scale='1' name='viewport')

		//- ~ CSS ~

		link(rel='stylesheet' href='css/style.css')

		//- ~ JS ~

		script(type='text/javascript' src='http://code.jquery.com/jquery-2.1.4.min.js')

	body
		header
			h1 My Wonderful Site

		section
			block content
				
		footer
			span My site <a href='http://some.link.to.your.repo.or.whatever'>v1.0</a>.  © 2015 Great Dev

		script(type='text/javascript' src='js/main.js')